body{
    
    color: white;
    font-family: poppinsregular;
    
    /*centralizar pagina*/
    margin: 0;
    padding: 0;
    
}

li{
    /*transforma a lista em row*/
    display: inline-block;
    margin: 20px;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#title{
    flex-direction: column;
    line-height: 10px;
    margin-left: 10px;
}

h1{
    font-weight: 200;
}
h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}



#principal{
    display: flex;
    flex-direction: row;
    
    background-color: black;
    
}

span{
    color: blueviolet;
}

#principal p{
    max-width: 500px;
}   
p{
    line-height: 20px;
    font-family: poppinslight;
}

img{
    width: 580px;
}

a{
    color: white;
}

a:hover{
    color: blueviolet;
    transition: 0.5s all;
    
}

#inscreva-btn{
    border: 2px solid blueviolet;
    padding: 10px;
    border-radius: 15px;
}

#inscreva-btn:hover{
    background-color: blueviolet;
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor:pointer
}

.secao{
    min-height: 100vh;
    padding: 15px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.grid h3{
    font-size: 2rem;
}

.grid-contato{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-contato h3{
    font-size: 2rem;
}
#whatsapp{
    color: #34af23;
}

#servicos{
    background-image: url('../components/images/confetti-doodles.svg');
    background-size: cover;
    background-position: center center;
    color: black;
}

#sobre{
    background-image: url('../components/images/subtle-prism.svg');
    background-size: cover;
    background-position: center center;
    color: black;
}

#sobre p{
    max-width: 1200px;
}

#contato{
    background-image: url('../components/images/sun-tornado.svg');
    background-size: cover;
    background-position: center center;
    color: white;
}

footer{
    overflow: hidden;
    background-color: black;  
}
footer>h3{
    text-align: center;
    color: white;
}